<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	 <session-factory>
	  	<mapping class="com.ideais.dados.Usuario"/>
	  	<mapping class="com.ideais.dados.Objetivo"/>
	  	<mapping class="com.ideais.dados.Territorio"/>
	 </session-factory>
</hibernate-configuration>
