body, html {
	width: 100%;
	height: 100%;	
	margin: 0;
	background-color: #002C30;
	font-family: Cursive;
}

a {
	text-decoration: none;
	color: #fff;
}

input {
	display: block;
}

select {
	background-color: #fff;
	cursor: pointer;
	text-align: center;
	font-family: Cursive;
	border: 0 !important; 
	width: 100px; 
	color: #333131;
	border-radius: 5px;
	padding-right: 25px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}

.circleButton {
	font-size: 0.8em;
	line-height: 25px;
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 25px;
    height: 25px;
    text-align: center;
    box-shadow: inset 0 0 7px #000000;
    cursor: pointer;
}

.circleButtonTag {
	margin: 0 10px 0 0;
	float: left;
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 18px;
    height: 18px;
    text-align: center;
    box-shadow: inset 0 0 7px #000000;
}

.circleButton a {
	text-decoration: none;
	position: relative;
	top: 5px;
	color: #fff;
	font-size: 0.7em;
}

.playerTurnText {
	margin-right: 8px;
	text-shadow: -1px 0 #F1FE36, 0 1px #F1FE36, 1px 0 #F1FE36, 0 -1px #F1FE36;
}

.playerTurnCircle {
	border-width: 2px;
	border-style: solid;
	border-color: #F1FE36;
}

.Brasil {
	position:absolute; 
	left: 331px; 
	top: 624px;
}

.Argentina-Uruguai {
	position:absolute; 
	left: 271px; 
	top: 724px;
}

.Chile-Bolivia-Peru {
	position:absolute; 
	left: 231px; 
	top: 614px;	
}

.Colombia-Venezuela {
	position:absolute; 
	left: 233px; 
	top: 509px;		
}

.Mexico {
	position:absolute; 
	left: 111px; 
	top: 391px;		
}

.Nova-York {
	position:absolute; 
	left: 221px; 
	top: 331px;			
}

.California {
	position:absolute; 
	left: 91px; 
	top: 331px;			
}

.Ottawa {
	position:absolute; 
	left: 241px; 
	top: 236px;		
}

.Vancouver {
	position:absolute; 
	left: 149px; 
	top: 219px;			
}

.Labrador {
	position:absolute; 
	left: 304px; 
	top: 283px;			
}

.Alaska {
	position:absolute; 
	left: 139px; 
	top: 163px;			
}

.Mackenzie {
	position:absolute; 
	left: 169px; 
	top: 187px;		
}

.Groelandia {
	position:absolute; 
	left: 439px; 
	top: 187px;		
}

.Islandia {
	position:absolute; 
	left: 523px; 
	top: 201px;		
}

.Inglaterra {
	position:absolute; 
	left: 493px; 
	top: 259px;		
}

.Suecia {
	position:absolute; 
	left: 623px; 
	top: 211px;			
}

.Moscou {
	position:absolute; 
	left: 713px; 
	top: 241px;		
}

.Polonia-Iugoslavia {
	position:absolute; 
	left: 643px; 
	top: 301px;			
}

.Portugal-Espanha-Franca {
	position:absolute; 
	left: 599px; 
	top: 336px;			
}

.Alemanha {
	position:absolute; 
	left: 603px; 
	top: 265px;			
}

.Argelia-Nigeria {
	position:absolute; 
	left: 569px; 
	top: 461px;		
}

.Egito {
	position:absolute; 
	left: 629px; 
	top: 411px;			
}

.Sudao {
	position:absolute; 
	left: 679px; 
	top: 491px;			
}

.Congo {
	position:absolute; 
	left: 639px; 
	top: 571px;			
}

.Africa-do-Sul {
	position:absolute; 
	left: 659px; 
	top: 671px;		
}

.Madagascar {
	position:absolute; 
	left: 769px; 
	top: 656px;			
}

.Oriente-Medio {
	position:absolute; 
	left: 759px; 
	top: 431px;			
}

.Aral {
	position:absolute; 
	left: 839px; 
	top: 301px;			
}

.Omsk {
	position:absolute; 
	left: 821px; 
	top: 231px;			
}

.Dudinka {
	position:absolute; 
	left: 866px; 
	top: 146px;		
}

.Siberia {
	position:absolute; 
	left: 936px; 
	top: 166px;	
}

.Tchita {
	position:absolute; 
	left: 941px; 
	top: 256px;	
}

.Mongolia {
	position:absolute; 
	left: 951px; 
	top: 316px;		
}

.China {
	position:absolute; 
	left: 1051px; 
	top: 396px;			
}

.India {
	position:absolute; 
	left: 881px; 
	top: 411px;			
}

.Vietna {
	position:absolute; 
	left: 1001px; 
	top: 451px;			
}

.Japao {
	position:absolute; 
	left: 1211px; 
	top: 336px;			
}

.Vladivostok {
	position:absolute; 
	left: 1016px; 
	top: 186px;		
}

.Sumatra {
	position:absolute; 
	left: 991px; 
	top: 571px;			
}

.Borneo {
	position:absolute; 
	left: 1091px; 
	top: 556px;				
}

.Nova-Guine {
	position:absolute; 
	left: 1176px; 
	top: 621px;			
}

.Australia {
	position:absolute; 
	left: 1061px; 
	top: 706px;			
}

.corAzul {
	background: #0721B4;
}

.corVerde {
	background: #009917;
}

.corVermelho {
	background: #D50000;
}

.corAmarelo {
	background: #EBC000;
}

.corRosa {
	background: #F300C7;
}

.corRoxo {
	background: #8C00F7;
}

.Vermelho {
	color: #D50000;
}

.Azul {
	color: #0721B4;
}

.Amarelo {
	color: #EBC000;
}

.Roxo {
	color: #8C00F7;
}

.Rosa {
	color: #F300C7;
}

.Verde {
	color: #009917;
}

#wrapper {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

#playSolo input {
	margin: 10px auto;
}

#options {
	padding-top: 150px;
	text-align: center;
	width: 500px;
	margin: auto;
}

.firstData {
	margin-top: 80px;	
}

.otherData {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

#singleplayer, #multiplayer {
	width: 250px;
	height: 85px; 
	cursor: pointer;
	background-color: #067A40;
	
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-width: 5px;
	
	border-right-color: #054123;
	border-bottom-color: #0A2D1B;
	border-left-color: #131E18;
	border-top-color: #0FA55A;
}

#play {
	text-align: center;
	margin: 120px auto 80px auto;
	width: 250px;
	height: 85px; 
	cursor: pointer;
	background-color: #C8752C;
	
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-width: 5px;
	
	border-right-color: #A55B1A;
	border-bottom-color: #7F4614;
	border-left-color: #3D240E;
	border-top-color: #F29E54;
}

#play:hover {
	background-color: #FFBB7F;
}

#play button {
	border: 0px;
	background: none;
	outline: 0;
	color: #fff;
	font-family: Cursive;
	cursor: pointer;
}

#singleplayer:hover, #multiplayer:hover {
	width: 250px;
	height: 85px; 
	cursor: pointer;
	background-color: #45C284;
}

#singleplayer {
	margin: 80px auto 80px auto;
}

#multiplayer {
	margin: 0 auto;
}

#singleplayer span , #multiplayer span, #play span, #play button {
	font-size: 1.8em;
    vertical-align: middle;
	line-height:75px;
}

#title {
	font-size: 6em;
	text-shadow: -3px 3px #525F59;
}

#sub-title {
	font-size: 4em;
	text-shadow: -3px 3px #525F59;
}


#numeroJogadores {
	margin-left: 5px;
}

table, th, td {
   padding: 5px;
   text-align:center; 
   vertical-align:middle;
}

#wrapperBoard {
	margin: 0;
	width: 100%;
	height: 910px;
	background-color: #000;
}

#tabuleiro {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	display: table-cell;
	background-image: url(../img/war.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 1280px;
	height: 910px;
}

#tabuleiro input {
	margin-top: 5px;
}

#wrapper h1, label, #divFormCadastroUsuario span, #wrapper span {
	color: #fff;
}

#divFormCadastroUsuario {
	margin-top: 10px;
}

#divFormCadastroUsuario input {
	margin-top: 5px;
}

#info {
	border-style: solid;
	border-width: 5px;
	border-color: #232323;
	color: #fff;
	padding: 20px;
	margin: 0;
	display: table-cell;
	height: 860px;
	background-color: #656565;
}

#userBox {
	margin: 0 0 5px 0;
	padding: 0 0 10px 0;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #414141;
}

#redistributionDiv, #redistributionNotCompleted {
	margin: 0;
	border-width: 0;
	text-align: center;
	background-color: #002C30;
	color: #fff;
}

#redistributeButton span {
    vertical-align: middle;
	line-height:25px;
}

#redistributeButton, #okButton, #cancelButton, #atackButton{
	margin: 0 auto;
	position: relative;
	top: 30px;
	
	width: 100px;
	height: 30px; 
	cursor: pointer;
	background-color: #C8752C;
	
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	
	border-bottom-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-top-width: 3px;
	
	border-right-color: #A55B1A;
	border-bottom-color: #7F4614;
	border-left-color: #3D240E;
	border-top-color: #F29E54;
}

#redistributeButton:hover, #okButton:hover, #cancelButton:hover, #atackButton:hover {
	background-color: #FFBB7F;
}

.errorMessage {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 10px;
	color: #D8000C;
	background-color: #FFBABA;
}

#gameStartedLightBox {
	color: #fff;
	text-align: center;
	background-color: #002C30;
}

#movementDiv {
	padding: 0 15px;
	font-size: 0.9em;
	border-style: solid;
	border-width: 3px;
	border-color: #4E4E4E;
	background-color: #B0B0B0; 
}

#back {
	font-size: 0.9em;
	text-align: center;
	width: 120px;
	height: 25px; 
	cursor: pointer;
	background-color: #067A40;
	
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-width: 5px;
	
	border-right-color: #054123;
	border-bottom-color: #0A2D1B;
	border-left-color: #131E18;
	border-top-color: #0FA55A;
	float: right;
}

#back:hover {
	cursor: pointer;
	background-color: #45C284;
}

#atackDiv, #atackedDiv {
	margin: 0;
	border-width: 0;
	text-align: center;
	background-color: #002C30;
	color: #fff;
}