body, html {
	width: 100%;
	height: 100%;	
	margin: 0;
	background-color: #002C30;
	font-family: Cursive;
}

a {
	text-decoration: none;
	color: #fff;
}

input {
	display: block;
}

select {
	cursor: pointer;
	text-align: center;
	font-family: Cursive;
	border: 0 !important; 
	background: #fff url(../img/arrowDown.png) no-repeat 90% center;
	width: 100px; 
	color: #333131;
	border-radius: 5px;
	padding-right: 25px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}

.circleButton {
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 25px;
    height: 25px;
    text-align: center;
}

.circleButton span {
	position: relative;
	top: 3px;;
}

.Brasil {
	position:absolute; 
	left: 320px; 
	top: 613px;
}

.Argentina-Uruguai {
	position:absolute; 
	left: 260px; 
	top: 713px;
}

.Chile-Bolivia-Peru {
	position:absolute; 
	left: 220px; 
	top: 603px;	
}

.Colombia-Venezuela {
	position:absolute; 
	left: 222px; 
	top: 498px;		
}

.Mexico {
	position:absolute; 
	left: 100px; 
	top: 380px;		
}

.Nova-York {
	position:absolute; 
	left: 210px; 
	top: 320px;			
}

.California {
	position:absolute; 
	left: 80px; 
	top: 310px;			
}

.Ottawa {
	position:absolute; 
	left: 230px; 
	top: 225px;		
}

.Vancouver {
	position:absolute; 
	left: 138px; 
	top: 208px;			
}

.Labrador {
	position:absolute; 
	left: 293px; 
	top: 272px;			
}

.Alaska {
	position:absolute; 
	left: 128px; 
	top: 152px;			
}

.Mackenzie {
	position:absolute; 
	left: 158px; 
	top: 176px;		
}

.Groelandia {
	position:absolute; 
	left: 428px; 
	top: 176px;		
}

.Islandia {
	
}

.Inglaterra {
	
}

.Suecia {
	
}

.Moscou {
	
}

.Polonia-Iugoslavia {
	
}

.Portugal-Espanha-Franca {
	
}

.Alemanha {
	
}

.Argelia-Nigeria {
	
}

.Egito {
	
}

.Sudao {
	
}

.Congo {
	
}

.Africa-do-Sul {
	
}

.Madagascar {
	
}

.Oriente-Medio {
	
}

.Aral {
	
}

.Omsk {
	
}

.Dudinka {
	
}

.Siberia {
	
}

.Tchita {
	
}

.Mongolia {
	
}

.China {
	
}

.India {
	
}

.Vietna {
	
}

.Japao {
	
}

.Vladivostok {
	
}

.Sumatra {
	
}

.Borneo {
	
}

.Nova-Guine {
	
}

.Australia {
	
}

.corAzul {
	background: #0721B4;
}

.corLaranja {
	background: #EF9F00;
}

.corVerde {
	background: #009917;
}

.corVermelho {
	background: #D50000;
}

.corAmarelo {
	background: #EBC000;
}

.corRosa {
	background: #F300C7;
}

.corRoxo {
	background: #8C00F7;
}

.Vermelho {
	color: #D50000;
}

.Azul {
	color: #0721B4;
}

.Amarelo {
	color: #EBC000;
}

.Laranja {
	color: #EF9F00;
}

.Roxo {
	color: #8C00F7;
}

.Rosa {
	color: #F300C7;
}

.Verde {
	color: #009917;
}

#wrapper {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

#playSolo input {
	margin: 10px auto;
}

#options {
	padding-top: 150px;
	text-align: center;
	width: 500px;
	margin: auto;
}

.firstData {
	margin-top: 80px;	
}

.otherData {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

#singleplayer, #multiplayer {
	width: 250px;
	height: 85px; 
	cursor: pointer;
	background-color: #067A40;
	
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-width: 5px;
	
	border-right-color: #054123;
	border-bottom-color: #0A2D1B;
	border-left-color: #131E18;
	border-top-color: #0FA55A;
}

#play {
	margin: 120px auto 80px auto;
	width: 250px;
	height: 85px; 
	cursor: pointer;
	background-color: #C8752C;
	
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-width: 5px;
	
	border-right-color: #A55B1A;
	border-bottom-color: #7F4614;
	border-left-color: #3D240E;
	border-top-color: #F29E54;
}

#play:hover {
	background-color: #FFBB7F;
}

#play button {
	border: 0px;
	background: none;
	outline: 0;
	color: #fff;
	font-family: Cursive;
	cursor: pointer;
}

#singleplayer:hover, #multiplayer:hover {
	width: 250px;
	height: 85px; 
	cursor: pointer;
	background-color: #45C284;
}

#singleplayer {
	margin: 80px auto 80px auto;
}

#multiplayer {
	margin: 0 auto;
}

#singleplayer span , #multiplayer span, #play span, #play button {
	font-size: 1.8em;
    vertical-align: middle;
	line-height:75px;
}

#title {
	font-size: 6em;
	text-shadow: -3px 3px #525F59;
}

#sub-title {
	font-size: 4em;
	text-shadow: -3px 3px #525F59;
}

#wrapper-tabuleiro {
	width: 100%;
	height: 100%;
	background-color: #000;
	margin-left: -11px;
	margin-top: -11px;	
}

#numeroJogadores {
	margin-left: 5px;
}

table, th, td {
   padding: 5px;
   text-align:center; 
   vertical-align:middle;
}

#tabuleiro input {
	margin-top: 5px;
}

#wrapper h1, label, #divFormCadastroUsuario span, #wrapper span {
	color: #fff;
}

#divFormCadastroUsuario {
	margin-top: 10px;
}

#divFormCadastroUsuario input {
	margin-top: 5px;
}